@font-face {
    font-family:"newtown";
    src: url("newtown.ttf") format("truetype");
}

body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

#main {
    margin: auto;
    width: 1200px;
    border: 0;
    padding: 0;
    color: white;
    min-height:100%;
    /* margin-bottom: -200px; */
}

#main:after {
  content: "";
  display: block;
}

#titles {
    text-align: center;
}

#title_box {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #AA1113;
}

#title_image {
    width: 90px;
    height: 90px;
    padding-right: 50px;
    padding-left: 50px;
}

#title {
    display: inline;
}

#main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1200px;
}

li.menu_el {
    float: left;
    display: block;
    width: 160px;
    background-color: #AA1113;
    margin-left: 30px;
    height: 42px;
}

a.menu_link {
    display: block;
    background-color: #AA1113;
    padding: 0.5em 0;
    font-size: 14pt;
    line-height: 1.25em;
    color: white;
    border: 0;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    /* text-shadow: 2px 3px 2px black; */
    font-family: "newtown";
}

#out_content {
    width: 1200px;
    padding-top: 100px;
}

body {
  background-size: 100%;
  background-color: black;
  color: #eee;
}

h1 {
    font-family: "newtown";
    /* text-shadow: 2px 3px 2px black; */
}

h2 {
    font-family: "newtown";
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

table {
    border: 0px;
    padding-left: 30px;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

th {
    background-color: #737373;
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}

#react_top_box {
    width: 600px;
    height: 400px;
    margin: auto;
    
}

#login_box {

}

#login_button {
    cursor: pointer;
}

#logged_in_box {
}

.big_button {
    display: block;
    background-color: #AA1113;
    padding: 0.5em 0;
    font-size: 14pt;
    line-height: 2.25em;
    width: 500px;
    height: 70px;
    color: white;
    border: 0;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    /* text-shadow: 2px 3px 2px black; */
    font-family: "newtown";
    background-color: #AA1113;
    cursor: pointer;
    margin: auto;
}

.big_button:hover {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    /* box-shadow: 0px 2px 2px 2px #333; */
    /*    border: */
    background-color: #990002;
}

#welcome {
    width: 100%;
    text-align: center;
}

.state_box {
    border: 1px solid #AA1113;
    text-align: center;
    width: 600px;
    height: 100px;
    line-height: 100px;
}

.server_link {
    color: #FFFFFF;
    font-size: 14pt;
    line-height: 1.25em;
    text-decoration: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#footer {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #222;
    max-height: 200px;
    margin-top: 150px;
}

a.copylink {
    color: inherit;
}

#footer:hover {
    color: #eee;
}

#welcome_avatar {
}

h3 {
    margin-bottom: 0px;
}

#rules_list {
    margin-top: 0px;
    list-style-type: square;
}

#rules {
    margin-top: 0px;
}

#isPrivateDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

#isPrivateCheckbox {
    padding-left: 50px;
}

input[type=checkbox]
{
 /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;    
}