@main("about") {
<div id="about">
  <h3>Welcome to hurtmeplenty.space - on demand quake live servers creation and match making</h3>
  This is a service to create a service one demand, or find a good match with just one click.
  At the moment service is in beta, and supports only duels.
  Which means that it most likely will conduct some useful work, but also will occasionally fail.
  This service needs cookies to operate properly. By using this service you agree to that cookies.

  <h3>On Demand Quake Live duel servers </h3>
  Useful in case if you don't want to setup a quake live server yourself and don't need it permanently.
  Click <a href="on_demand">on demand</a> in the top menu. Click create server.
  Then send a provided link to your friend. Click on link - steam launcher will kick you into the game.

  <h3>Match making </h3>
  <p>Match making is about finding a good fair game for you. It is uses <a href="qlstat.net">qlstats.net</a>
  to find out your rating(glicko). Then it matches you with someone with the same glicko who is also waiting in the queue. Same glicko means +- 300 points. Which is quite a big gap. In case if service will gain popularity it will be possible to reduce the gap.</p>
  <p>Process is quite straightforward - click start match on matchmake page. Then click on the link.</p>

  <h3>Troubleshooting/Contact</h3>
  In case if you encounter troubles - check service statistics page - it can be that no free servers left.
  We are planning to add more servers in the future.
  In case if you experience any other issues, or find a bug - please mail me directly at <a href="mailto:yuriy.netesov@gmail.com">yuriy.netesov@gmail.com</a>
</div>
}
